---
---

@import "main.scss";



#hero {
    background: rgb(255, 255, 255);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

@media only screen and (min-width: 768px) {
    #hero {
        background-image: url('../images/hero_background_big.jpg');
    }
}

@media only screen and (max-width: 768px) {
    #hero {
        background-image: url('../images/hero_background_small.jpg');
    }
}

#prologue {
    background-color: rgb(0, 0, 0);
    padding-top: 5%;
    padding-bottom: 5%;
}

.fik-video {
    margin-top: 3%;
}

#introduction {
    background-color: black;
    padding-top: 5%;
    padding-bottom: 5%;
}

#screenplay {
    background-color: black;
    padding-top: 5%;
    padding-bottom: 5%;
}

#googleform {
    background-color: black;
    padding-top: 5%;
    padding-bottom: 5%;
}

.fik-title3 {
    line-height: 170%;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.2rem;
    color: white;
}

.introduction-text {
    margin-left: 10%;
    margin-top: 3%;
    margin-right: 10%;
    color: white;
    font-size: 1rem;
    line-height: 170%;
}

.screenplay-text {
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    font-size: 1rem;
    line-height: 170%;
}