---
---

@import "main.scss";


#hero {
    background: rgb(255, 255, 255);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

#prologue {
    background-color: rgb(20, 20, 20);
    padding-top: 5%;
    padding-bottom: 5%;
}

#introduction {
    background-color: rgb(20, 20, 20);
    padding-top: 5%;
    padding-bottom: 5%;
}

#screenplay {
    background-color: rgb(20, 20, 20);
    padding-top: 5%;
    padding-bottom: 5%;
}

#googleform {
    background-color: rgb(20, 20, 20);
    padding-top: 5%;
    padding-bottom: 5%;
}

@media only screen and (min-width: 768px) {
    #hero {
        background-image: url('../images/hero_background_big.jpg');
    }
    
    .fik-video {
        margin: 3% 5%;
    }

    .fik-title3 {
        line-height: 170%;
        margin-top: 3%;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 1.2rem;
        color: white;
    }
    
    .introduction-text {
        margin-left: 10%;
        margin-top: 3%;
        margin-right: 10%;
        color: white;
        font-size: 1rem;
        line-height: 170%;
    }
    
    .screenplay-text {
        margin-left: 10%;
        margin-right: 10%;
        color: white;
        font-size: 1rem;
        line-height: 170%;
    }
}

@media only screen and (max-width: 768px) {
    #hero {
        background-image: url('../images/hero_background_small.jpg');
    }

    .fik-video {
        margin: 3% 0%;
    }

    .fik-title3 {
        line-height: 150%;
        margin-top: 4%;
        margin-bottom: 1%;
        margin-left: .75rem;
        margin-right: .75rem;
        font-size: 1rem;
        color: white;
    }
    
    .introduction-text {
        margin-left: .75rem;
        margin-top: 3%;
        margin-right: .75rem;
        color: white;
        font-size: .75rem;
        line-height: 170%;
    }
    
    .screenplay-text {
        margin-left: .75rem;
        margin-right: .75rem;
        color: white;
        font-size: .75rem;
        line-height: 170%;
    }
}